@import "styles/variables";

.member {
    width: 180px;
    height: 180px;

    @media (min-width: 0) and (max-width: 768px) {
        width: 140px;
        height: 140px;
    }

    >div {
        background: #ffffff;
        border: 2px $main-color solid;
        width: 100%;
        height: 100%;
        overflow: hidden;
        cursor: pointer;

        &:hover {
            box-shadow: 0 0.5rem 1rem $main-color;
        }

        img {
            width: 100%;
            height: 100%;
        }
    }

    .member-description {
        bottom: 0;
        background: #000000cb;
    }
}