$main-color: #219653;
$text-color: #f2f2f2;
$danger-color: #eb5757;

$size-1: 4.57rem; // 64 px
$size-2: 2.57rem; // 36 px
$size-3: 1.71rem; // 24 px

$size-sm-1: 2.57rem;
$size-sm-2: 1.71rem;
$size-sm-3: 1rem;

$primary: $main-color;
$danger: $danger-color;

$font-size-base: 1rem;
$font-size-h1: $size-1;
$font-size-h2: $size-2;
$font-size-h3: $size-3;

$menu-height: 100px;
$menu-height-mobile: 60px;

$la-font-path: '~line-awesome/fonts/';
$la-css-prefix: 'la';
