@import "styles/variables.scss";

body {
    font-size: 14px;
    font-family: 'Montserrat', sans-serif;
}

section {
    padding: $menu-height 0 0;
    min-height: 600px;

    @media (min-width: 0) and (max-width: 768px) {
        padding: $menu-height-mobile 0 0;
    }
}

.fon-section {
    background: url('/build/fon.png');
}

.h1 {
    font-size: $size-1;
    font-weight: bold;

    @media (min-width: 0) and (max-width: 768px) {
        font-size: $size-sm-1;
    }
}

.h2 {
    font-size: $size-2;
    font-weight: bold;

    @media (min-width: 0) and (max-width: 768px) {
        font-size: $size-sm-2;
    }
}

.h3 {
    font-size: $size-3;
    font-weight: bold;

    @media (min-width: 0) and (max-width: 768px) {
        font-size: $size-sm-3;
    }
}